ion-tabs img{
    width: 66%;
}

ion-tab-bar{
    border-top: 1px solid #b0b0b5ad ;
    padding-top: 5px;
    border-top-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
    height: 63px;
}
